{% extends "layouts.html" %}

{% block body %}
        <div class="container container_size">
                
                <div class="card bg-success" style="width:330px; margin:0 auto">
                        <p class="text-center text-heading"><img id="logo" src="../static/img/logo.png" height="43" width="270"></p>
                        <p><b>SHORTY</b></p>
                    <form action="http://localhost:5000/urlShort" method="POST">
                        <div class="input-group urlBox">
                            <input type="text" class="form-control" name="textURL" autocomplete="off">
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="submit">Short URL</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
{% endblock%}
